doctype html
html
  head
    title Contrato #{contrato.idcontrato}
  body
    h1 Contrato #{contrato.idcontrato}
    p Objecto do Contrato: #{contrato.objectoContrato}
    p Data de Celebração: #{contrato.dataCelebracaoContrato}
    p Preço Contratual: #{contrato.precoContratual}
    p Entidade Comunicante: #{contrato.entidade_comunicante}
    p NIPC da Entidade: #{contrato.NIPC_entidade_comunicante}
    p Fundamentação: #{contrato.fundamentacao}
    p
    a(href="/") Voltar à página principal
