doctype html
html
  head
    title Contratos
  body
    h1 Lista de Contratos
    table(border="1")
      tr
        th idcontrato
        th objectoContrato
        th dataCelebracaoContrato
        th precoContratual
        th NIPC_entidade_comunicante
        th entidade_comunicante
      each contrato in contratos
        tr
          td
            a(href=`/${contrato.idcontrato}`) #{contrato.idcontrato}
          td #{contrato.objectoContrato}
          td #{contrato.dataCelebracaoContrato}
          td #{contrato.precoContratual}
          td
            a(href=`/entidades/${contrato.NIPC_entidade_comunicante}`) #{contrato.NIPC_entidade_comunicante}
          td #{contrato.entidade_comunicante}
